body {
	margin: 0;
	font-family: "Creepster", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 10px;
	background: "grey";
}

code {
	font-family: "Creepster", cursive;
}
